a{
    color: grey;
}
a:hover{
    color: red;
}
a:active{
    color: yellow;
}
a:visited{
    color: pink;
}
ul.a{
    list-style-type: circle;
}
ul.b{
    list-style-type: armenian;
}
ol.c{
    list-style-type: upper-roman;
}
ol.d{
    list-style-type: lower-greek;
}
.kose1{
    background-color: yellow;
    padding: 20px;
    width: 200px;
    height: 150px;
    border-radius: 25px;
}