div {
    height: 1024px;
    width: 100%;



}

body {
    background-image: url("arkaplan.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    background-color: chocolate;



}